@import "tailwindcss";

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}


.button-home {
  height: 40px;
  border-color: black;
  border-width: 2px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 500px;
  cursor: pointer;
  font-weight: 500;
  color: white;
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */);
  transition-duration: var(--tw-duration, var(--default-transition-duration) /* 150ms */);

}

.button-home:hover {
  --tw-shadow: 2px 2px 0px var(--tw-shadow-color, rgba(0, 0, 0, 1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

.button-home-black {
  height: 40px;
  border-color: black;
  border-width: 2px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 500px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(0, 0, 0);
  transition-property: all;
  transition-timing-function: var(--tw-ease, var(--default-transition-timing-function) /* cubic-bezier(0.4, 0, 0.2, 1) */);
  transition-duration: var(--tw-duration, var(--default-transition-duration) /* 150ms */);

}

.button-home-black:hover {
  --tw-shadow: 2px 2px 0px var(--tw-shadow-color, rgba(0, 0, 0, 1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}


.button-red {
  background-color: #A3332A;
}

.button-red:hover {
  background-color: #a42017;
}

.button-blue {
  background-color: #648be9;
}

.button-blue:hover {
  background-color: #4f7ce6;
}

.button-green {
  background-color: #6b9162;
}

.button-green:hover {
  background-color: rgb(64, 109, 54);
}


.binarytree {
  scrollbar-width: none;
  -ms-overflow-style: none;

  
/* for chrome et safari */
  -webkit-mask-image:  
    linear-gradient(to top, transparent 0%, black 5%, black 95%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 5%, black 95%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%, 100% 100%;
  -webkit-mask-composite: destination-in;

  /* default */
  mask-image: 
    linear-gradient(to top, transparent 0%, black 5%, black 95%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%, 100% 100%;
  mask-composite: intersect;
}

.binarytree::-webkit-scrollbar {
  display: none;
}


