@import "tailwindcss";

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}


.button-home {
  height: 40px;
  border-color: black;
  border-width: 2px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 500px;
  cursor: pointer;
  font-weight: 500;

}

.explain {
  text-align: left;
  color: black;
  font-weight: 450;
  margin-top: 5px;
  font-size:14px;

}

.binarytree {
  scrollbar-width: none;
  -ms-overflow-style: none;

  
/* for chrome et safari */
  -webkit-mask-image:  
    linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15%, black 85%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%, 100% 100%;
  -webkit-mask-composite: destination-in;

  /* default */
  mask-image: 
    linear-gradient(to top, transparent 0%, black 15%, black 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15%, black 85%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%, 100% 100%;
  mask-composite: intersect;
}


.binarytree::-webkit-scrollbar {
  display: none;
}


.button-home:hover {
  --tw-shadow: 2px 2px 0px var(--tw-shadow-color, rgba(0, 0, 0, 1));
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}