.wrapper {
  --font-color-dark: #323232;
  --font-color-light: #FFF;
  --bg-color: #fff;
  --main-color: #323232;
  position: relative;
  width: 188px;
  height: 40px;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 500px;
  display: flex;
  flex-direction: row;
  /* box-shadow: 4px 4px var(--main-color); */
}

/* Ajouter un pseudo-élément pour la bulle qui slide */
.wrapper::before {
  content: '';
  position: absolute;
  width: 90px;
  height: 32px;
  background-color: var(--main-color);
  border-radius: 50px;
  top: 2px;
  left: 2px;
  transition: transform 0.3s ease;
  z-index: 1;
}

.wrapper:has(.option:nth-child(2) .input:checked)::before {
  transform: translateX(92px);
}

.option {
  width: 90px;
  height: 32px;
  position: relative;
  top: 2px;
  left: 2px;
  z-index: 2;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  appearance: none;
  cursor: pointer;
}

.btn {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: var(--font-color-dark);
  transition: color 0.3s ease;
}

.input:checked + .btn .span {
  color: var(--font-color-light);
}