@import "tailwindcss";

#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}


.button-home {
  height: 40px ;
  padding-right: 12px ;
  padding-left: 12px;
  border-radius: var(--radius-lg);
  text-align: center;
  cursor: pointer;
  font-family: sans-serif;
  
}
